.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.about-text {
  flex: 1;
  margin-left: 20px;
}

.image-gallery {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
