.homepage {
    text-align: center;
    padding: 50px;
    background-image: url('./Screenshot\ 2024-06-23\ 064741.png'); /* Sample background image */
    background-size: cover;
    background-position: center;
    
    height: 100vh;
  }
  .profile-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content {
    margin-top: 100px;
   
    position: relative;
    z-index: 2;
   
    padding: 20px;
    border-radius: 10px;
  }
  