.navbar {
    background-color: darkslategray;
    padding: 4px 0;
}
#navig{
    background-color: darkslategray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.navbar-brand img {
    width: 90px;
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  